<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body {
            background-color: aliceblue;
            font-family: sans-serif;
            padding-top: 50px;

        .container{

            max-width: 550px;
            margin: auto;
            background-color: rgb(255, 255, 255);
            
            }
        }

    </style>
    <div class="container">
        {%block content%}

        {%endblock%}
    </div>
</body>
</html>