{%extends 'base/base.html' %}
{%block content%}
        
        
{%if request.user.is_authenticated%}
<form action="{%url 'logout'%}" method="post">
    {%csrf_token%}
    <button type="submit"> Logout</button>
</form>
{%else%}
<a href="{%url 'login' %}">Login</a>

{%endif%}

<hr>
<h1>Todo_list ({{object_list.count}})</h1>
<hr>

<form method="get">
    <input type="text" name="Search-area" value={{search_input}}>
    <input type="submit">Search</input>
</form>

<a href="{%url 'task-create'%}">Add Task</a>
<table>
    <tr>
        <th>
            <h3>Items</h3>
        </th>
        <th></th>
    </tr>
    {%for task in object_list%}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{%url 'task-detail' task.id %}">View</a></td>
        <td><a href="{%url 'task-update' task.id %}">Edit Task</a></td>
        <td><a href="{%url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {%empty%}
    <tr>
        <td>No items in list</td>
        
    </tr>
    {%endfor%}
</table>
{%endblock%}